<h4>Building</h4>

<%= flash[:notice] %>

<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>City</th>
      <th>Country</th>
      <th>Zip code</th>
      <th>Address</th>
      <th>Manager Name</th>
    </tr>
  </thead>
  <tbody>
    <% @buildings.order("reference asc").each do |building| %>
      <tr>
      <td><%= building.reference %></td>
      <td><%= building.city %></td>
      <td><%= building.country %></td>
      <td><%= building.zip_code %></td>
      <td><%= building.address %></td>
      <td><%= building.manager_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h4> Import File </h4>
  <%= form_tag import_buildings_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV"%>
  <% end %>
</div>

<div>
  <h4> Update File </h4>
  <%= form_tag update_import_buildings_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Update CSV"%>
  <% end %>
</div>
